*{
    box-sizing: border-box;
}


body{
    background-color: rgb(1, 1, 39);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1{
    margin: 12px;
}

.box{
    background-color: rgb(40, 62, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 12px;
    border-radius: 12px;
    box-shadow: 2px 4px 5px rgba(00, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

/*mouvent des elements*/
.box:nth-of-type(even){
    transform: translateX(-200%);
}
/*class js a ajouter*/
.box.show{
    transform: translateX(0);
}
.box h2{
    font-size: 35px;
}